* {
    font-family: 'Poppins', sans-serif;
}

.logo img {
    height: 40px;
    width: auto;
    border-radius: 20%
  }

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
}

main {
    display: flex;
    padding: 2rem 4rem;
}
 
  
nav ul {
    display: flex;
    gap: 2rem;
    list-style: none;
}

nav ul li a {
    color: black;
    text-decoration: none;
}
  